section.team .container {
    flex-direction: column;
    text-align: center;
    padding: 40px 0px;
}

section.team .rowTeam {
    display: flex;
}



section.team .rowTeam .team .boxTeam .image img {
    width: 100%;
    object-fit: cover;
    height: 200px;
    object-position: center 15%;
}

section.team .rowTeam .team{
    margin: 0px 5px;
}
section.team {
    background-color: #FAFAFA;
    margin: 40px 0px 0px 0px;
    padding: 0px 20px;
}

section.team .titulo h2{
    font-size: 45px;
    font-weight: 300;
}

section.team .subtitulo p{
    font-size: 20px;
    color: #BDBCC1;
    font-weight: 300;
    line-height: 1.6;
}

section.team .team .boxTeam .titulo h2{
    font-size: 22px;
    font-weight: 500;
}

section.team .team .boxTeam .function span{
    color: #2D314E;
    font-weight: 500;
}

