section.details{
    background-color: #F4F5F7;
    padding: 60px 0px;
}

section.details .container{
    justify-content: initial;
}

section.details .container .box .allContainer .titulo h1{
    font-size: 45px;
    font-weight: 300;
}

section.details .container .box .allContainer .subtitulo h6{
    font-size: 20px;
    color: #BDBCC1;
    font-weight: 400;
    line-height: 1.8;
}

section.details .container .box .containerIcons{
    display: flex;    
    justify-content: center;
}

section.details .container .box .containerIcons .boxIcons{
    margin: 0px 10px;
}

section.details .container .box .containerIcons .boxIcons .titulo h3{
    color: #818181;
    font-weight: 400;
    font-size: 25px;
}

section.details .container .box .containerIcons .boxIcons .texto p{
    color: #BDBCC1;
}

@media screen and (max-width:991px){
    section.details .container .box .allContainer .titulo h1{
        text-align: center;
    }
    section.details .container .box .allContainer .subtitulo h6{
        text-align: center;
    }
    section.details .container .box .containerIcons{
        flex-wrap: wrap;
    }
    section.details .container .box .containerIcons .boxIcons{
        text-align: center;
    }
    section.details .container .box .containerIcons .boxIcons .icone figure img{
        display: flex;
        margin: 0 auto;
    }
}